*,
*::after,
*::before {
  color: #000;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  box-sizing: border-box;
  font-size: 1em;
}
body {
  background-image: url(img/bg-simplify-section-desktop.svg);
}
section {
  padding: 0 5vw;
  margin-bottom: 5%;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h1{
  color: hsl(228, 39%, 23%);
}
button {
  margin-top: 8px;
  padding: 10px 18px 8px 16px;
  border-radius: 7px;
  background-color: hsl(12, 88%, 59%);
  color: white;
  text-align: center;
}
button:hover {
  background-color: lightcoral;
  color: black;
}
a:hover{
  border-bottom: 1px solid hsl(233, 12%, 13%);
}
span {
  margin-right: 9px;
}
