@import "global";
@import "header";


.box{
    h1 {
        font-size: 38px;
        padding-right: 28%;
    }
    p{
        font-size: 18px;
        color: darkgray;
        padding: 12px 40% 8px 9px;
    }
    div{
        margin-top: -15%;
    }
    img{
        margin-top: 7%;
        width: 50%;
    }
}
.wrap{
    .aboutManage {
        margin-top: -9%;
    }
    h1 {
        font-size: 31px;
        padding: 10px 35% 8px 12px;
    }
    h3{
        color: hsl(228, 39%, 23%);
    }
    p{
        font-size: 18px;
        color: darkgray;
    }
    .manage {
        color: darkgray;
        padding: 9px 23% 8px 10px;
    }
    div{
        margin-bottom: 3%;
    }
    span{
        color: white;
        background-color: hsl(12, 88%, 59%);
        border-radius: 4px;
        padding: 4px 6px 3px 5px;
    }
}
.wrapbox{
    background-color: hsl(12, 88%, 59%);
    h2{
        padding: 8px 18px 6px 16px;
    }
    button{
        background-color: white;
        color: hsl(12, 88%, 59%);
    }
}
.aboutUs {
    div{
        border: 1px solid white;
        background-color: hsl(0, 0%, 98%);
        text-align: center;
        margin-right: 3%;
        div:last-child{
            margin-right: 0;
        }
    }
}
.list1{
    margin-right: 5%;
}