*,
*::after,
*::before {
  color: #000;
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
  list-style: none;
  text-decoration: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 1em;
}

body {
  background-image: url(img/bg-simplify-section-desktop.svg);
}

section {
  padding: 0 5vw;
  margin-bottom: 5%;
}

footer {
  padding: 0 5vw;
  background-color: #1d1e25;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

h1 {
  color: #242d52;
}

button {
  margin-top: 8px;
  padding: 10px 18px 8px 16px;
  border-radius: 7px;
  background-color: #f25f3a;
  color: white;
  text-align: center;
}

button:hover {
  background-color: lightcoral;
  color: black;
}

span {
  margin-right: 9px;
}

header {
  margin-top: 0%;
  height: 75px;
  width: 100%;
  padding: 0 5vw;
  position: fixed;
  z-index: 100;
  background-color: #fafafa;
  -webkit-box-shadow: 5px 10px 18px #eeeeee00;
          box-shadow: 5px 10px 18px #eeeeee00;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

header .logo {
  margin-top: 13px;
  margin-right: 8%;
  width: 15%;
  height: 45%;
}

nav {
  white-space: nowrap;
  margin-right: 5%;
}

a {
  float: left;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  color: black;
}

a.getStarted {
  padding: 11px 16px 9px 14px;
  text-decoration: none;
  border: 1px solid black;
  border-radius: 6px;
  background-color: black;
  color: white;
}

a:hover {
  background-color: #ddd;
  color: black;
}

.box h1 {
  font-size: 38px;
  padding-right: 28%;
}

.box p {
  font-size: 18px;
  color: darkgray;
  padding: 12px 40% 8px 9px;
}

.box div {
  margin-top: -15%;
}

.box img {
  margin-top: 7%;
  width: 50%;
}

.wrap .aboutManage {
  margin-top: -9%;
}

.wrap h1 {
  font-size: 31px;
  padding: 10px 35% 8px 12px;
}

.wrap h3 {
  color: #242d52;
}

.wrap p {
  font-size: 18px;
  color: darkgray;
}

.wrap .manage {
  color: darkgray;
  padding: 9px 23% 8px 10px;
}

.wrap div {
  margin-bottom: 3%;
}

.wrap span {
  color: white;
  background-color: #f25f3a;
  border-radius: 4px;
  padding: 4px 6px 3px 5px;
}

.wrapbox {
  background-color: #f25f3a;
}

.wrapbox h2 {
  padding: 8px 18px 6px 16px;
}

.wrapbox button {
  background-color: white;
  color: #f25f3a;
}

.aboutUs div {
  border: 1px solid white;
  background-color: #fafafa;
  text-align: center;
  margin-right: 3%;
}

.aboutUs div div:last-child {
  margin-right: 0;
}

.list1 {
  margin-right: 5%;
}
/*# sourceMappingURL=manage.css.map */